<div ng-include="'compose/app/views/NavBarTemplate.html'"></div>
<div class=central>
    <div class="productimage" style="background-image: url('{{product.photos[0]}}')"></div>
    <h4>{{product.description}}</h4>
    <h5 ng-if="product.customFields.brand">
        Brand: {{product.customFields.brand}}
    </h5>
    <h5 ng-if="product.customFields.price">
        Price: {{product.customFields.price}}
    </h5>
    <h5 ng-if="nf">Nutritional facts</h5>
    <ul class=attr ng-if="nf">
        <li ng-repeat="(factname, factvalue) in nf" class="{{factname}}">
            <div>{{factname}}</div>
            <div>{{factvalue}}</div>
        </li>
    </ul>
    <button type="button" class="btn btn-pink" ng-click="checkinProduct()" ng-show="showCheckIn">Check in</button>
</div>
