.align-center {
  text-align: center;
}

.heatmap {
  width: 789px;
  display: inline-block;
  padding: 0;
  height: 400px;
  margin-top:50px;
  position: relative;
}

.graph {
  background: #74c9be;
}

canvas {
  background-image: url(../img/iot-week-map.jpg);
  border: 1px solid #ccc;
}
